In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [14]:
Countries_file = "F:/Downloads/archive/countries of the world.csv"
premise_C= pd.read_csv(Countries_file)
Country = premise_C[['Country','Region']]
Country

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [16]:
connection_string = "user:password@localhost:5432/movies_db"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
# Confirm tables
engine.table_names()

['Countries', 'Netflix_Movies']

In [20]:
Country.to_sql(name='country', con=engine, if_exists='append', index=False)