In [1]:
import pandas as pd
from sqlalchemy import create_engine 
import os
from dotenv import load_dotenv

# Store CSV into Dataframe

In [2]:
multiple_services_df = pd.read_csv('data/multipleServices.csv')
disney_df = pd.read_csv('data/disney_plus_shows.csv')
netflix_df = pd.read_csv('data/netflix_titles.csv')
countries_df = pd.read_csv('data/countries.csv')

# Remove missing values

In [3]:
# Have a look at missing values and the total records in the data
print(multiple_services_df.isnull().sum()/len(multiple_services_df) * 100)
print(f"Total number of records: {len(multiple_services_df)}")

id                  0.000000
title               0.000000
year                0.000000
age                56.079790
imdb                3.410177
rotten_tomatoes    69.194935
netflix             0.000000
hulu                0.000000
prime_video         0.000000
disney              0.000000
type                0.000000
directors           4.335882
genres              1.642379
country             2.597946
language            3.577401
runtimes            3.535595
dtype: float64
Total number of records: 16744

In [4]:
#drop categories with missing data
multiple_services_drop = multiple_services_df.dropna(axis = 0)
print(multiple_services_drop.isnull().sum()/len(multiple_services_drop) * 100)
print(f"Total number of records: {len(multiple_services_drop)}")
multiple_services_drop.head()

id                 0.0
title              0.0
year               0.0
age                0.0
imdb               0.0
rotten_tomatoes    0.0
netflix            0.0
hulu               0.0
prime_video        0.0
disney             0.0
type               0.0
directors          0.0
genres             0.0
country            0.0
language           0.0
runtimes           0.0
dtype: float64
Total number of records: 3301

,id,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney,type,directors,genres,country,language,runtimes
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [7]:
# Have a look at missing values and the total records in the data
print(netflix_df.isnull().sum()/len(netflix_df) * 100)
print(f"Total number of records: {len(netflix_df)}")

show_id          0.000000
type             0.000000
title            0.000000
director        30.679337
cast             9.220496
country          6.510851
date_added       0.128419
release_year     0.000000
rating           0.089893
duration         0.000000
listed_in        0.000000
description      0.000000
dtype: float64
Total number of records: 7787

In [8]:
#drop categories with missing data
netflix_drop = netflix_df.dropna(axis = 0)
print(netflix_drop.isnull().sum()/len(netflix_drop) * 100)
print(f"Total number of records: {len(netflix_drop)}")
netflix_drop.head()

show_id         0.0
type            0.0
title           0.0
director        0.0
cast            0.0
country         0.0
date_added      0.0
release_year    0.0
rating          0.0
duration        0.0
listed_in       0.0
description     0.0
dtype: float64
Total number of records: 4808

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...

# Create New Data with Select Columns

In [9]:
multiple_services_df.head(2)

,id,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney,type,directors,genres,country,language,runtimes
0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0

In [10]:
multiple_services_new = multiple_services_df[['imdb', 'rotten_tomatoes', 'title', 'hulu', 'prime_video', 'disney']].copy()
multiple_services_new.head()

,imdb,rotten_tomatoes,title,hulu,prime_video,disney
0,8.8,87%,Inception,0,0,0
1,8.7,87%,The Matrix,0,0,0
2,8.5,84%,Avengers: Infinity War,0,0,0
3,8.5,96%,Back to the Future,0,0,0
4,8.8,97%,"The Good, the Bad and the Ugly",0,1,0

# Merge

In [11]:
merged_movies = pd.merge(netflix_drop, multiple_services_new, how="left", on="title")

merged_movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,imdb,rotten_tomatoes,hulu,prime_video,disney
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6.0,100%,0.0,0.0,0.0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7,NaN,0.0,0.0,0.0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1,57%,0.0,0.0,0.0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8,36%,0.0,0.0,0.0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,NaN,NaN,NaN,NaN,NaN

In [12]:
# remove NaN
merged_movies_df = merged_movies.fillna('')
merged_movies_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,imdb,rotten_tomatoes,hulu,prime_video,disney
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,6,100%,0,0,0
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",4.7,,0,0,0
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",7.1,57%,0,0,0
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,6.8,36%,0,0,0
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...,,,,,

In [13]:
# Create a connection to the database

load_dotenv()
user = os.environ.get('sqluser')
password = os.environ.get('sqlpassword')

credentials = f'postgresql://{user}:{password}@localhost:5432/movies_db'

#connection_string = "user:password@localhost:5432/movies_db"
engine = create_engine(credentials)

In [14]:
engine.table_names()

['Netflix_Movies', 'Countries']

In [16]:
merged_movies_df.to_sql(name='Netflix_Movies', con=engine, if_exists='append', index=False)